
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  font-family: 'Roboto', serif;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

/* visual styles */

h1 {
  font-size: 48px;
  font-weight: 900;
}

ul {
  display: flex;
  gap: 16px;
  list-style-type: none;
}

a {
  text-decoration: none;
}

a, .secondary-text {
  font-size: 18px;
  color: #E5E7EB;
}

.header, .footer {
  color: #F9FAF8;
  background-color: #1F2937;
}

.header-logo {
  font-size: 24px;
  color: #F9FAF8;
}

.hero-block {
  width: 400px;
}

button, .cta-button {
  font-size: 20px;
  color: #F9FAF8;
  font-weight: 600;
  background-color: #3882f6;
  padding: 6px 21px;
  border-radius: 8px;
  border: 1px solid #3882f6;
}

 .cta-button { 
  border: 1px solid #F9FAF8;
 }

 .cta-block {
   color: #F9FAF8;
   background-color: #3882f6;
   padding: 12px;
   border-radius: 8px;
   margin: 32px;
 }

.placeholder-image {
  width: 600px;
  height: 200px;
}

.info-header-text {
  text-align: center;
  font-size: 36px;
  color: #1F2937;
  font-weight: 900;
}

.image-card > img {
  border: 3px solid #3882f6;
  border-radius: 10%;
  width: 120px;
  height: 120px;
}
/* padding and margin */

.block {
  padding: 20px 400px;
}


/* section box styling */

.block {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.image-text {
  font-size: 18px;
  display: flex;
  flex-wrap: row wrap;
  width: 130px;
  align-items: center;
  text-align: center;
}

.quote-block {
  color: #1F2937;
  background-color: #E5E7EB;
}


